---
import Layout from '@layouts/Layout.astro';

const section: string = 'users';

export async function getStaticPaths() {
  const albums  = await fetch(`https://jsonplaceholder.typicode.com/${section}/`)
  .then((results: any) => results.json());

  return albums.map((album: { id: number; title: string; userId: number}) => {
    return {
      params: { id: album.id },
      props: { album }
    };
  })
}

const { album } = Astro.props;
---

<Layout title='Individual Album'>
  <h1>{album.title}</h1>
  {`${album.id} - ${album.userId} - ${album.title}`}
</Layout>